{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">

    <title>SchoolBook</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static "css/carousel.css" %}" rel="stylesheet">
  <style type="text/css">img[src="//counter.yadro.ru/hit?t18.9;rhttps%3A//www.google.ru/;s1366*768*24;uhttp%3A//bootstrap-3.ru/index.php;hBootstrap%203%20%B7%20%u0414%u043E%u043A%u0443%u043C%u0435%u043D%u0442%u0430%u0446%u0438%u044F%20%u043D%u0430%20%u0440%u0443%u0441%u0441%u043A%u043E%u043C%20%u044F%u0437%u044B%u043A%u0435;0.7608442735087985"],
img[src="//counter.yadro.ru/hit;Common1?t18.9;rhttps%3A//www.google.ru/;s1366*768*24;uhttp%3A//bootstrap-3.ru/index.php;hBootstrap%203%20%B7%20%u0414%u043E%u043A%u0443%u043C%u0435%u043D%u0442%u0430%u0446%u0438%u044F%20%u043D%u0430%20%u0440%u0443%u0441%u0441%u043A%u043E%u043C%20%u044F%u0437%u044B%u043A%u0435;0.17019480523573682"],
img[src="//counter.yadro.ru/hit?t18.9;rhttp%3A//bootstrap-3.ru/index.php;s1366*768*24;uhttp%3A//bootstrap-3.ru/bootstraptheme.php;hBootstrap%203%20%B7%20%u0411%u0430%u0437%u043E%u0432%u044B%u0439%20%u0448%u0430%u0431%u043B%u043E%u043D%2C%20%u043E%u0441%u043D%u043E%u0432%u043D%u044B%u0435%20%u0448%u0430%u0431%u043B%u043E%u043D%u044B%20%u0438%20%u043F%u0440%u0438%u043C%u0435%u0440%u044B;0.7372685654404064"],
img[src="//counter.yadro.ru/hit;Common1?t18.9;rhttp%3A//bootstrap-3.ru/index.php;s1366*768*24;uhttp%3A//bootstrap-3.ru/bootstraptheme.php;hBootstrap%203%20%B7%20%u0411%u0430%u0437%u043E%u0432%u044B%u0439%20%u0448%u0430%u0431%u043B%u043E%u043D%2C%20%u043E%u0441%u043D%u043E%u0432%u043D%u044B%u0435%20%u0448%u0430%u0431%u043B%u043E%u043D%u044B%20%u0438%20%u043F%u0440%u0438%u043C%u0435%u0440%u044B;0.4706495976606204"]
{display:none !important;}</style><style id="holderjs-style" type="text/css"></style></head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

<!-- Static navbar -->
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SchoolBook</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Главная</a></li>
              <li><a href="/articles/">Каталог</a></li>
              <li><a href="/quzi/">Тесты</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Помощь студенту<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/about_site/">О сайте</a></li>
              <li><a href="/authors/">Авторы</a></li>
              <li><a href="/admin/">Admin panel</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
        
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for post in news %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"
            class="{%if forloop.first%}active{% endif %}">
        </li>
        {% empty %}
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for post in news%}
        <div class="item{%if forloop.first%} active{% endif %}">
          <img alt="First slide"
                {% if post.news_image %}
                    src="{{ post.news_image.url }}"
                {% else %} 
                data-src="holder.js/900x500/auto/#666:#6a6a6a/text:EROR 404"
                {% endif %}
          >
          <div class="container">
            <div class="carousel-caption">
              <h1>
                {% if post.news_title %}
                    {{ post.news_title }}
                {% else %} 
                    EROR 404 
                {% endif %}
              </h1>
              <p>
                {% if post.news_content %}
                    {{ post.news_content }}
                {% endif %}
                <!--
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                -->
            </div>
          </div>
        </div>
        {% empty %}
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNmE2YTZhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0Pjwvc3ZnPg==">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget 
quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor 
id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNWE1YTVhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+VGhpcmQgc2xpZGU8L3RleHQ+PC9zdmc+">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget 
quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor 
id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for post in quzi %}
        <div class="col-lg-4">
          <img class="img-circle"
            {% if not post.question_list_image %}
                data-src="holder.js/140x140"
            {% else %}
                src="{{ post.question_list_image.url }}"
            {% endif %}
            alt="140x140" style="width: 140px; height: 140px;">
          <h2>{{ post.question_list_title }}</h2>
          <p>
            {% if post.question_list_content %} 
                {{ post.question_list_content }}
            {% else %}
          Donec sed odio dui. Etiam porta sem malesuada magna mollis 
euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi 
leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
 cursus magna.
            {% endif %}
          </p>
          <p><a class="btn btn-default" href="{{ post.get_absolute_url}}" role="button">Пройти тест »</a></p>
        </div><!-- /.col-lg-4 -->
        {% endfor%}
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      {% for post in article %}
      {% if forloop.counter|divisibleby:"2" %}
      <hr class="featurette-divider">

      <div class="row featurette">
              <div class="col-md-7">
                      <h2 class="featurette-heading">{{post.article_title|default_if_none:" First featurette heading." }}</h2>
          <p class="lead">
          {% if post.article_content %}
          {% if post.article_content|length > 200 %}
                {{ post.article_content|striptags|truncatechars:200 }}
            {%else%}
                {{ post.article_content|striptags}}
            {%endif%}
          {% else %} 
          2Donec ullamcorper nulla non metus auctor 
fringilla. Vestibulum id ligula porta felis euismod semper. Praesent 
commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, 
tellus ac cursus commodo.
          {% endif %}
          </p>
          <p><a class="btn btn-default" href="{{ post.get_absolute_url}}" role="button">Далее »</a></p>
        </div>
        <div class="col-md-5"> <img class="featurette-image img-responsive"
            {% if not post.article_image %}
                data-src="holder.js/500x500/auto"
            {% else %}
                src="{{ post.article_image.url }}"
            {% endif %}
                 alt="500x500">
        </div>
      </div>
      {% else %}

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" alt="500x500"
            {% if not post.article_image %}
                data-src="holder.js/500x500/auto"
            {% else %}
                src="{{ post.article_image.url }}"
            {% endif %}
          >
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{post.article_title|default_if_none:" First featurette heading." }}</h2>
          <p class="lead"> 
          {% if post.article_content %}
          {% if post.article_content|length > 200 %}
                {{ post.article_content|striptags|truncatechars:200 }}
            {%else%}
                {{ post.article_content|striptags}}
            {%endif%}
          {% else %} 
          2Donec ullamcorper nulla non metus auctor 
fringilla. Vestibulum id ligula porta felis euismod semper. Praesent 
commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, 
tellus ac cursus commodo.
          {% endif %}
          </p>
          <p><a class="btn btn-default" href="{{ post.get_absolute_url}}" role="button">Далее »</a></p>
        </div>
      </div>
    {%endif%}
    {%endfor%}

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2017 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/docs.js" %}"></script>
  
</body></html>
