{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}
<h2 class="answer_id" id="{{titl.id}}"> {{ titl }}</h2> 
{% endblock%}

{% block content %}
<hr id="test" >
<div id="quzi_content" value="{{titl.question_list_article_url}}">
<div class="container" id="content">
        <p id="question"> </p>
<!-- варианты ответов на вопрос-->  
<br>
<div class="table-responsive">
  <table bgcolor="white" class="table" id="answer">
  </table>
</div>
</div>

<ul class="pagination pagination-lg" id="pager">
    <li class="previous disabled" id="previous"><a role="button">&laquo;</a></li>
    <li class="next" id="next"><a href="#">&raquo;</a></li>
</ul>
<p>
	<button type="button" class="btn btn-primary btn-lg" onclick="chart()">Узнать результат</button>
</p>

</div>
{% endblock %}

{% block answerJS %}
    <script type="text/javascript" language="javascript" src="{% static "js/quzi/quzi.js" %}">
    </script>
{% endblock %}
