{% extends 'main.html' %}

{% block title %}
    <h2> Тест </h2>
{% endblock%}

{% block content %}
<br>
<div class="table-responsive">
	<table class="table table-hover">
    {% for post in object_list %}
		<tr>
    		<td>
                <h3><a href="{{post.get_absolute_url}}">{{ post.question_list_title }}</a></h3>
                <h5>{{ post.question_list_content }}</h5>
                {% if post.question_list_article_url != "False" %}
                        <a href="{{ post.question_list_article_url }}">Перед прохождением рекомендуем почитать</a>
                {%endif%}
            </td>
  		</tr>
    {% empty %}
	</table>
</div>
    <p>Нет постов</p>
    {% endfor %}

{% endblock %}
