{% extends 'main.html' %}

{% block title %}
<h2> {{question.object_list.get.question_question_list }} </h2>
{% endblock%}

{% block content %}
<hr>
<div class="container" id="container">
{% for post in question %}
<p id="{{post.id}}"> {{ post }}</p>
{% endfor %}
<br>
</div>
<form class="form-horizontal" role="form" >
<div class="table-responsive">
  <table bgcolor="white" class="table" id="answer_div">
  </table>
</div>
</form>
<br>

<div class="bootom">
    <ul class="pagination pagination-lg">
        {% if question.has_previous %}
            <li><a href="?page={{ question.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {% for page in question.paginator.page_range %}
            {% if page == question.number %}
                <li class="active" id="active"><a href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if question.has_next %}
            <li><a href="?page={{ question.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block answerJS %}
    <script type="text/javascript" language="javascript">
		function answerJS() {
            container = $("#container")
			most_recent = container.find("p:first");
    		update_holder = $("#answer_div");
            $.getJSON("/quzi/answer/" + most_recent.attr('id') + "/",
				function(data){
            		cycle_class = true        
                		? "" : "";
					jQuery.each(data, function(){
						update_holder.prepend('<tr class="'+ cycle_class +'">'
							+ '<td style="width: 30px;" ><label>'
							+ '<input type="checkbox" value="' + this.fields.ansver_boolean +'">'
							+ '</label></td>'
							+ '<td>' + this.fields.ansver_content + '</td>'
							+ '</tr>');
                	cycle_class = (cycle_class == "info")
                		? "" : "";
					});
				}
            )
        }
    	$(document).ready(answerJS()
    	)
    </script>
{% endblock %}
